.webbodycore{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    }
    
    .requiredform{
    font-size: medium;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    }
    